//- vendor
script(src=jsDirVendor + "jquery.min.js")
script(src=jsDirVendor + "modernizr.touchevents.js")
script(src=jsDirVendor + "lazysizes.min.js")
script(src=jsDirVendor + "jquery.waypoints.min.js")
script(src=jsDirVendor + "jquery.form-validator.min.js")
script(src=jsDirVendor + "jquery.form-validator--radio.min.js")
script(src=jsDirVendor + "jquery.fitvids.js")
script(src=jsDirVendor + "imagesloaded.pkgd.min.js")
//- script(src=jsDirVendor + "jquery.mobile-events.min.js")
//- script(src=jsDirVendor + "picker.js")
//- script(src=jsDirVendor + "picker.date.js")
//- script(src=jsDirVendor + "jquery.mask.min.js")

//- local
script(src=jsDirLocal + "dbm.lazyload.js")
script(src=jsDirLocal + "jquery.dbm.app.js")
script(src=jsDirLocal + "jquery.dbm.file.js")
script(src=jsDirLocal + "jquery.dbm.alert.js")
script(src=jsDirLocal + "jquery.dbm.offCanvas.js")
script(src=jsDirLocal + "jquery.dbm.nav.js")
script(src=jsDirLocal + "jquery.dbm.scrollTo.js")
script(src=jsDirLocal + "jquery.dbm.goToTop.js")
