//- vendor
link(rel="stylesheet" href=cssDirVendor + "normalize.css")
link(rel="stylesheet" href=cssDirVendor + "dbm__common.css")
//- link(rel="stylesheet" href=cssDirVendor + "foundation--grid.css")
//- link(rel="stylesheet" href=cssDirVendor + "template__fonticon.css")
//- link(rel="stylesheet" href=cssDirVendor + "classic.css")
//- link(rel="stylesheet" href=cssDirVendor + "classic.date.css")
link(rel="stylesheet" href=cssDirVendor + "slick.css")
link(rel="stylesheet" href=cssDirVendor + "slick-theme.css")
//- local
link(rel="stylesheet" href=cssDirLocal + "styles.css")
